[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "moocore"]
	path = moocore
	url = https://github.com/multi-objective/moocore
	subdir = r
[submodule "mooplot"]
	path = mooplot
	url = https://github.com/multi-objective/mooplot
	subdir = r
